.js-video-container {
    flex-grow: 1;
}

.vp-video-player {
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.vp-buttons {
    background-color: black;
    display: flex;
    align-items: center;
}

.vp-spacer {
    flex-grow: 1;
}

.vp-player-button {
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
    font-size: 14pt;
    line-height: 1.5;
    width: 1.5em;
    height: 1.5em;
    padding: 0 1.5em 0 1em;
}