.js-video-container {
    flex-grow: 1;
}

.vp-video-player {
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 12px 6px rgba(0,0,0,0.6);
    margin-left: 5px;
    margin-top: 5px;
}

.vp-bottom-controls {
    background-color: black;
    display: flex;
    align-items: center;
}

.vp-left-buttons {
    display: flex;
}

.vp-player-button {
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
    font-size: 15pt;
    height: 2em;
    width: 1.8em;
    padding: 0 0.4em 0 0.5em;
}

.vp-player-button:focus {
    outline: none;
}

.vp-viewing-panel{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-left: 3px;
}

.vp-progress-bar {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.vp-progress-slider {
    background-color: #f8104d;
    height: 5px;
    border-radius: 2px;
}

.vp-progress-dot {
    height: 0.5em;
    width: 0.5em;
    background-color: #f8104d;
    border-radius: 10px;
    border: 3px solid white;
    display: inline-block;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-out, ease-in;    
}

.vp-progress-bar:hover .vp-progress-dot {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-out, ease-in;    
}